*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
}

.header__contenedor--banner img{
    
    margin-left: 44%;
}

.header__contenedor--banner p{
    margin-left: 47%;
}
.header__contenedor--titulo{
    margin-left: calc(50% -170px);
}

.contenedor__precios--tabla{
    display: flex;
    width: 930px;
    margin: 0 auto;
}
.header__contenedor--botones{
    margin-left:calc(50% - 170px) ;
}
.contenedor__servicios--tarjetas{
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin:0 auto;
  
   
}
.combos__ofertas--slider{
    justify-content: center;
}

.contenedor__sedes--imagenes{
    display: flex;
   
   
     
}

.contenedor__sedes--imagenes div{
    width: 50%;
    margin: 10px;

}
