:root{

    --bitcoin-orange:#F7931A;
    --soft-orange :#FFE9D5;
    --secundary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --black:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-size: 62.5%;
    font-family: 'DM Sans' sans-serif;
}

header{
    background:linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
   
       
}
header img{
    width: 150px;
      height: 24px;
      margin-top: 60px;
      align-self: center;
}
.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}
.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 26px;
    color:var(--just-white)

}
.header--title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color:var(--soft-orange);
}
.header--title-container .header--button{
    position :absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /*sombreado del boton*/

    box-shadow: 0px 4px 8px rgba(89,73,30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4 rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);

}
.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');


}
main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);

}
.main-exchange-container .backgruondImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('.//assets/img/bitcoin.svg');

    /* hacer que la imagen se quede en el centro ,evitar que la imagen se deforme y cambi de resolucion */ 
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
}
.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange-container--title{
    width: 90%;
    min-width: 238px;
    max-width:900px;
    margin: 0 auto;
}
.main-exchange-container h2
{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.main-exchange-container p{
    margin-bottom:30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color:#757575 ;
}

/*tablas*/
.main-currency-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: 'Inter' sans-serif;
    
}
.main-currency-table .currency-table-title{
    margin-bottom: 15px;
    margin-left: -120px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}
.currency-table-container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.currency-table-container table{
    width: 100%;
    height: 100%;
    
}
.currency-table-container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}
.currency-table-container .table-top-left{
    border-radius: 15px 0 0 0;
}
.currency-table-container .table-top-right{
    border-radius: 0 15px 0 0;
}
.currency-table-container .table-bottom-left{
    border-radius: 0 0 0 15px;
}
.currency-table-container .table-bottom-right{
    border-radius: 0 0 15px 0;
}
.currency-table-container  .table-right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.currency-table-container .down{
    display: inline-block ;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table-container .Up{
    display: inline-block ;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-up.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table-date{
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;

}
.currency-table-date p{
   
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: var(--warm-black);


}
/*practica*/

.main-comisiones-tabla{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: 'Inter' sans-serif;
}
.main-comisiones-tabla .main-comisiones-titulo{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 2.3rem;
    color: var(--secundary-blue);
    margin-left: -120px;
    
}


.contenedor-tabla-comisiones{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.contenedor-tabla-comisiones table{
    width: 100%;
    height: 100%;
    
}
.contenedor-tabla-comisiones td{
width: 50%;
font-size: 1.6rem;
font-weight: 500;
height: 1.9rem;
color: var(--grey);
background-color: var(--just-white);
}
.contenedor-tabla-comisiones .tabla-superior-izquierda{
border-radius: 15px 0 0 0;
}
.contenedor-tabla-comisiones .tabla-superior-derecha{
border-radius: 0 15px 0 0;
 }
.contenedor-tabla-comisiones .tabla-inferior-izquierda{
border-radius: 0 0 0 15px;
}
.contenedor-tabla-comisiones .tabla-inferior-derecha{
    border-radius: 0 0 15px 0;
}
.contenedor-tabla-comisiones .tabla-derecha{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.tabla-comision-dato{
 width: 190px;
height: 30px;
margin: 0 auto;
margin-top: 15px;
padding: 8px;
background-color: var(--soft-blue);
border-radius: 8px;
}
.tabla-comision-dato p {

font-size: 1.2rem;
font-weight: 300;
line-height: 1.5rem;
color: var(--warm-black);
}

/*Siguiente seccion de los productos*/
.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 300px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}
.product-detail-batata-logo{
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url('assets/icons/batata.svg');
}
.product-detail-title{
    width: 90%;
    min-width: 280px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;


}
.product-detail-title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.product-detail-title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    height: 1.8rem;
    color: #808080;
}

/*tarjetas(Negro)*/

.product-detail-card{
    width: 90%;
    min-width: 288px ;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px ;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.16);

}
.product-detail-card .clock{
    display: inline-block;
    width: 20px ;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("assets/icons/clock.svg");
    /* SI UNA IOMAGEN  ES MAS GRANDE QUER LA DIMENSIONES QUE LE DIMOS*/
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
   
}
.product-card-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product-card-body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color:#808080 ;

}
/*tasas escondidas*/
.product-detail-tasa{
    width: 90%;
    min-width: 288px ;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px ;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.16);
}
.product-detail-tasa .ojo{
    display: inline-block;
    width: 20px ;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("assets/icons/eye.svg");
    /* SI UNA IOMAGEN  ES MAS GRANDE QUER LA DIMENSIONES QUE LE DIMOS*/
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

}
.product-card-titulotasa{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);

}
.product-card-bodytasa{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color:#808080 ;
}

/*signo pesos*/
.contenedor-pesos{
    width: 90%;
    min-width: 288px ;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px ;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.16);
}
.logo-pesos{
    display: inline-block;
    width: 20px ;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("assets/icons/dollar-sign.svg");
    /* SI UNA IOMAGEN  ES MAS GRANDE QUER LA DIMENSIONES QUE LE DIMOS*/
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

}
.titulo-pesos{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.texto-pesos{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color:#808080 ;
}
/*check de informacion*/
.contenedor-informacion{
    width: 90%;
    min-width: 288px ;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px ;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.16);
}
.contenedor-informacion--logo{
    display: inline-block;
    width: 20px ;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("assets/icons/check-circle.svg");
    /* SI UNA IOMAGEN  ES MAS GRANDE QUER LA DIMENSIONES QUE LE DIMOS*/
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

}
.contenedor-informacion--titulo{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.contenedor-informacion--texto{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color:#808080 ;
}

/*comodin*/
.contenedor-bitcoin--img{
    width: 100%;
    min-width: 320px;
    height:50vh ;
    background-image: url("/assets/img/bitcoinbaby2x.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.contenedor-bitcoin--img h2{
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
/*Planes*/


.contenedor-planes{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
   
}
.titulo-planes{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
   
}
.titulo-planes h2{
    padding-top: 50px ;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.titulo-planes p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color:#757575;
}
.tarjetas-planes-sliderh{
  display: flex;  
  height: 316px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  
  
}
/*Tarjetas*/
.tarjetas-contenedor{
    position: relative;
    scroll-snap-align: center;
    width: 65%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 50px 20px 0;
   padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89,73,30, 0.16); 
}

.recomendado{
    position: absolute;
    width: 120px;
    height: 31px;
    padding: 6px;
    left:calc(50% - 60px);
    top:-15px;
    
    background-color: var(--bitcoin-orange);
    font-size: 1.2rem;
    border-radius: 8px;
    color: var(--just-white);

}
.titulo-tarjetas{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}
.precio-tarjetas{
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: black;
}
.precio-tarjetas  span{
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: 25px;
}
.tarjetas-anuncio{
    font-size: 1.2rem;
    color: #757575 ;
}
.tarjetas--boton{
    width: 150px;
    height: 48px;
    margin-top: 20px ;
    background-color: #FAF8F7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
    font-family: 'DM Sans' sans-serif;

}
.tarjetas--boton span{
    display: inline-block;
    width: 20px;
    height:20px ;
    background-image: url("assets/icons/orange-right-arrow.svg");

    vertical-align: text-bottom;

 /*   background-position:center;
    background-size: cover;
    background-repeat: no-repeat; */

}

/*Tarjeta Basico*/
.tarjetas-contenedor-basico{
    
    position: relative;
    scroll-snap-align: center;
    width: 65%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 50px 20px 0;
    padding: 20px 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89,73,30, 0.16); 
}

.basico{
    position: absolute;
    width: 120px;
    height: 31px;
    padding: 6px;
    left:calc(50% - 60px);
    top:-10px;
    
    background-color: var(--bitcoin-orange);
    font-size: 1.2rem;
    border-radius: 8px;
    color: var(--just-white); 
}
.titulo-basico{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}
.precio-basico{
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: black;
}
.precio-basico span{
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: 25px;
}
.anuncio-basico{
    font-size: 1.2rem;
    color: #757575 ;
}
.boton-basico{
    width: 150px;
    height: 48px;
    margin-top: 20px ;
    background-color: #FAF8F7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
    font-family: 'DM Sans' sans-serif;

}
.boton-basico span{
    display: inline-block;
    width: 20px;
    height:20px ;
    background-image: url("assets/icons/orange-right-arrow.svg");

    vertical-align: text-bottom;
}

/*PREMIUM*/
.tarjetas-contenedor-premium{
    
    position: relative;
    scroll-snap-align: center;
    width: 65%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 50px 20px 0;
    padding: 20px 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89,73,30, 0.16); 
}
.premium{
    position: absolute;
    width: 120px;
    height: 31px;
    padding: 6px;
    left:calc(50% - 60px);
    top:-10px;
    
    background-color: var(--bitcoin-orange);
    font-size: 1.2rem;
    border-radius: 8px;
    color: var(--just-white); 
}
.titulo-premium{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}
.precio-premium{
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: black;
}
.precio-premium span{
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: 25px;
}
.anuncio-premium{
    font-size: 1.2rem;
    color: #757575 ;
}

.boton-premium{
    width: 150px;
    height: 48px;
    margin-top: 20px ;
    background-color: #FAF8F7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
    font-family: 'DM Sans' sans-serif;
}
.boton-premium span{
    display: inline-block;
    width: 20px;
    height:20px ;
    background-image: url("assets/icons/orange-right-arrow.svg");

    vertical-align: text-bottom;
}